$gray-1: #f9f9f9 !default;
$gray-2: #e5e5e5 !default;
$gray-3: #ccc !default;
$gray-4: #767676 !default;
$gray-5: #515151 !default;
$gray-6: #313131 !default;

$red:    #F75D59 !default; 
$orange: #ffce00 !default;
$yellow: #f1fa8c !default;
$green:  #57E964 !default;
$cyan:   #50EBEC !default;
$blue:   #4078f2 !default;
$purple: #cc00ff !default;
$pink:   #F6358A !default;
$brown:  #8f5536 !default;

$root-font-family: "Lato", -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu", "Fira Sans", Arial, sans-serif !default;
$root-font-weight: 300 !default;
$root-font-size: 1rem !default;
$root-line-height: 1.5 !default;

$body-color: $gray-5 !default;
$body-muted: $gray-4 !default;
$body-bg: #fff !default;
$link-color: #3cbc75 !default;
$heading-color: $gray-6 !default;

$border-color: $gray-2 !default;
$border-radius: 300px !default;
$padding-v: 1em !default;
$padding-h: 1.5em !default;
$heading-spacing: 0.5rem !default;
$section-spacing: 2rem !default;
$sidebar-width: 17rem !default;
$site-title-font-size: 1.4rem !default;
$padding-multiplier: 1.1 !default;

$large-breakpoint: 49rem !default;
$large-font-size: 1.25rem !default;

$box-shadow-size: 1px !default;
$box-shadow-opacity: 0.16 !default;
$default-box-shadow: $box-shadow-size
                     $box-shadow-size
                     $box-shadow-size
                     rgba(0, 0, 0, $box-shadow-opacity);

$code-font-family: "Roboto Mono", Menlo, Monaco, "Courier New", monospace !default;
$code-color: #3cbc75 !default;

// Hyde theming
$sidebar-bg-color: #fff !default;
$sidebar-sticky: false !default;
$layout-reverse: false !default;
